@media only screen and (max-width: 1130px) {
    #btn3 {
        left: 264px;
    }
    #user {
        position: absolute;
        right: 9px;
    }

    #bag {
        position: absolute;
        right: -31px;
    }
}

@media only screen and (max-width: 1250px) {
    nav {
        width: 100vw;
    }
}

@media only screen and (max-width: 770px) {
    div img {
        width: 34px;
        position: relative;
        left: -59px;
        top: 3px;
    }

    #webname {
        width: 8%;
        position: absolute;
        top: 30px;
        left: 85px;
        font-size: 1.2rem;
        font-family: 'Dancing Script', cursive;
    }

    nav {
        width: 983px;
        height: 71px;
    }

    #user {
        position: absolute;
        right: -165px;
    }

    #bag {
        position: absolute;
        right: -208px;
    }

    #part2 img {
        position: relative;
        left: -2px;
    }

    #rate {
        left: -263px;
    }

    #midelement img {
        left: -80px;
    }

    #rev {
        left: -45px;
    }

    #part4 {
        width: 1069px;
    }

    #btn3 {
        left: 97px;
    }

    #part4-2 img {
        position: relative;
        left: 0px;
    }

    #part5 {
        width: 1119px;
    }

    #img2,
    #img3,
    #img4 {
        margin: 0px -50px;
    }

    #img1 {
        position: relative;
        left: 14px'

    }

    #spann1 {
        left: -177px;
    }

    #rs2 {
        right: 323px;
    }
}

@media only screen and (max-width: 1280px) {
    #btn3 {
        left: 100px;
    }

    #rate {
        left: -200px;
    }

    #spann2 {
        left: -212px;
    }

    #spann3 {
        left: -239px;
    }

    #rs4 {
        right: 313px;
    }

    div img {
        position: relative;
        left: -47px;
        top: 12px;
    }

    #webname {
        top: 23px;
        left: 98px;
    }

    nav {
        width: 1400px;
    }

    #user {
        position: absolute;
        right: 97px;
        top: 30px;
    }

    #bag {
        right: 56px;
        top: 33px;
    }

    #part2 img {
        top: 1px;
        left: -2px;
    }

    #rs3 {
        right: 288px;
    }

    #spann3 {
        left: -201px;
        top: 24px;
    }

    #rev {
        position: relative;
        left: -33px;
        top: -12px;
    }

    #part4-2 img {
        position: relative;
        left: -3px;
    }
}

@media only screen and (max-width: 1240px) {
    #user {
        right: 128px;
    }

    #bag {
        right: 78px;
    }

    nav {
        width: 1344px;
    }
}

@media only screen and (max-width: 1211px) {
    #user {
        right: 55px;
    }

    #bag {
        right: 9px;
    }

    nav {
        width: 1344px;
    }
}

@media only screen and (max-width: 1184px) {
    #user {
        right: 81px;
    }

    #bag {
        right: 35px;
    }

    #spann2 {
        left: -210px;
    }

    #rs3 {
        right: 287px;
    }

    #spann3 {
        left: -245px;
    }

    nav {
        width: 1344px;
    }

    nav ul {
        width: 55%;
    }
}

@media only screen and (max-width: 1130px) {
    #user {
        right: 55px;
    }

    #bag {
        right: 13px;
    }
    #btn3 {
        left: 36px;
    }
    #part4-2 {
        left: 149px;
    }
    #part4 {
        width: 1153px;
    }

    #part5 {
        width: 1187px;
    }
}

@media only screen and (max-width: 1095px) {
    #user {
        right: 37px;
    }

    #bag {
        right: -11px;
    }
}

@media only screen and (max-width: 1095px) {
    nav ul {
        width: 50%;
    }

}

@media only screen and (max-width: 1027px) {
    nav ul {
        width: 45%;
    }

    nav ul li {
        list-style: none;
        margin-right: 1.7rem;
    }

    #part4 {
        width: 1329px;
    }

    #user {
        right: -61px;
    }

    #bag {
        right: -130px;
    }
}

@media only screen and (max-width: 1024px) {
    div img {
        top: 4px;
    }

    #webname {
        top: 14px;
    }

    #rev {
        top: -18px;
        left: -36px;
    }
}

@media only screen and (max-width: 1000px) {
    nav ul {
        width: 45%;
        margin: auto;
    }

}

@media only screen and (max-width: 978px) {
    #user {
        right: -2px;
    }

    #bag {
        right: -49px;
    }

    #webname {
        top: 23px;
        left: 143px;
    }

    div img {
        left: -10px;
    }

}

@media only screen and (max-width: 940px) {
    nav ul {
        position: relative;
        left: -76px;
    }
}

@media only screen and (max-width: 912px) {
    nav {
        height: 85px;
    }

    div img {
        left: -56px;
    }

    #webname {
        top: 19px;
        left: 93px;
    }

    nav ul {
        left: -177px;
    }

    #user {
        right: 12px;
    }

    #bag {
        right: -37px;
    }

    #part2 {
        width: 500px;
        height: 500px;
        position: absolute;
        left: 605px;
        top: 137px;
    }

    #product img {
        left: 115px;
    }

    #rev {
        top: -18px;
        left: -39px;
    }

    #midelement img {
        left: 64px;
        width: 100px;
    }
}

@media only screen and (max-width: 877px) {

    #webname {
        top: 23px;
        left: 129px;
    }

    div img {
        left: -20px;
    }

    nav ul {
        position: relative;
        left: -106px;
    }

    #part4 {
        width: 1000px;
    }

    #user {
        right: -29px;
    }

    #bag {
        right: -79px;
    }
}

@media only screen and (max-width: 845px) {
    #user {
        right: -104px;
    }

    #bag {
        right: -158px;
    }
}

@media only screen and (max-width: 820px) {
    nav {
        height: 85px;
    }
}

@media only screen and (max-width: 768px) {
    #user {
        right: -171px;
    }

    #bag {
        right: -209px;
    }
}

@media only screen and (max-width: 760px) {
    #user {
        right: -214px;
    }

    #bag {
        right: -19px;
    }

    #img2,
    #img3,
    #img4 {
        margin: 9px -33px;
    }

    #spann3 {
        left: -214px;
    }

    #webname {
        top: 31px;
    }
}

@media only screen and (max-width: 690px) {
    #bag {
        right: -268px;
    }
}

@media only screen and (max-width: 650px) {
    #user {
        right: -271px;
    }

    #bag {
        right: -316px;
    }
}

@media only screen and (max-width: 600px) {
    #user {
        right: -341px;
    }

    #bag {
        right: -388px;
    }
}

@media only screen and (max-width: 540px) {
    #user {
        right: -376px;
    }

    #bag {
        right: -447px;
    }

    #rs4 {
        right: 298px;
    }
}

@media only screen and (max-width: 535px) {
    #user {
        right: -396px;
    }

    #bag {
        right: -447px;
    }
}

@media only screen and (max-width: 474px) {
    #user {
        right: -455px;
    }

    #bag {
        right: -507px;
    }
}

@media only screen and (max-width: 413px) {
    #user {
        right: -527px;
    }

    #bag {
        right: -574px;
    }
}

@media only screen and (max-width: 340px) {
    #user {
        right: -598px;
    }

    #bag {
        right: -648px;
    }
}
@media only screen and (max-width: 360px) {
    #user {
        right: -609px;
    }
}
@media only screen and (max-width: 414px) {
    #user {
        right: -610px;
    }
}